@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

/* Start Universal Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

img,
svg {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg-col);
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --html-bg: #FFF1E9;
    --css-bg: #E0FDEF;
    --js-bg: #EBF0FF;
    --accessibility-bg: #F6E7FF;
    --text-color: #313E51;
    --text-color-p: #626C7F;
    --purple: #A729F5;
    --bg-col: white;
    --button-bg: white;
    --option-bg: #F4F6FA;
    --option-color: #626C7F;
    --correct-color: #26D782;
    --invalid-color: #EE5454;
    --bg: url("./assets/images/pattern-background-mobile-light.svg");
    --sun-src: url("./assets/images/icon-sun-dark.svg");
    --moon-src: url("./assets/images/icon-moon-dark.svg");

  [data-theme="dark"] 
    --text-color: #FFF;
    --text-color-p: #ABC1E1;
    --bg-col: #313E51;
    --button-bg: #3B4D66;
    --bg: url("./assets/images/pattern-background-mobile-dark.svg");
    --sun-src: url("./assets/images/icon-sun-light.svg");
    --moon-src: url("./assets/images/icon-moon-light.svg");
}

/* End Universal Styles */

/* Start Hide Screen Styles */

.start-menu {
    display: none;
}

.quiz-complete {
    display: none;
    flex-direction: column;
}

.question-screen {
    display: none;
    flex-direction: column;
}

.row-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.curr-subject {
    display: flex;
    align-items: center;
    visibility: hidden;
    gap: 1rem;
}

/* End Hide Screen Styles */

/* Start Light / Dark Toggle Switch Styles */

.light-dark-toggle {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.light-dark-switch {
    display: inline-block;
    position: relative;
    width: clamp(2rem, 1.647887323943662rem + 1.5023474178403755vw, 3rem);
    height: clamp(1.25rem, 1.073943661971831rem + 0.7511737089201878vw, 1.75rem);
}

.light-dark-switch input {
    display: none;
}

.slider {
    position: absolute;
    background-color: var(--purple);
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    transition: 4s;
}

.slider::before {
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    height: clamp(0.75rem, 0.573943661971831rem + 0.7511737089201878vw, 1.25rem);
    width: clamp(0.75rem, 0.573943661971831rem + 0.7511737089201878vw, 1.25rem);
    transition: .4s;
}

input:checked + .slider::before {
    transform: translateX(clamp(0.8125rem, 0.7033450704225352rem + 0.46572769953051646vw, 1.1225rem)));
}

.slider.round {
    border-radius: 62.4375rem;
}

.slider.round::before {
    border-radius: 50%;
}

.sun-container,
.moon-container {
    width: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem);
    height: clamp(1rem, 0.823943661971831rem + 0.7511737089201878vw, 1.5rem);
}

.sun-container > img {
    content: var(--sun-src);
}

.moon-container {
    content: var(--moon-src);
}

/* End Light / Dark Toggle Switch Styles */

